*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
.content-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.rti-container{
    width: 96%;
    display: flex;
    margin: 32px auto;
    /* padding: 50px; */
    background-color: #f5eeee76;
    border-radius: 10px;
    /* border: 1px solid black; */


}
.heading-container h4{
    text-align: center;
    font-size: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    padding: 4rem;
    margin-top: 25px;
    
}
.rti-container h5{
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}
.rti-container h4{
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
}

.hindi-rti{
    width: 45%;
    margin: 0px auto;
    text-align: justify;
    padding: 100px;
    /* background-color: #f5eeee76; */
    /* border-radius: 10px; */
    /* border-right: 5px solid yellow; */
    /* display: flex;
    flex-direction: column; */
}
.english-rti{
    width: 45%;
    margin: 0px auto;
    text-align: justify;
    padding: 100px;
    /* border-radius: 10px;
     */
    

    /* display: flex;
    flex-direction: column; */
    
}
.rti-container li,p{
    font-size: 16px;
    padding: 5px;
    list-style-type:circle;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.rti-container li{
    margin-left: 45px;
}
#vertical-line{
    border-right: 5px solid #ffcb00;
    height: 686px;
    margin-top: 100px;

}