*{
    padding: 0;
    margin: 0;
}
.policycontent-container{
    width: 80%;
    margin: 32px auto;
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 50px;
    /* background-color: #f5eeee76; */
    border-radius: 10px;
}

.heading{
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-size: 33px;
    margin: 50px 0px 0px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content-container h4{
    margin: 10px 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.content-container p{
    font-size: 18px;
    color: #1b3058;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#note{
    font-size: 18px;
    font-weight: bold;
}